@media (max-width: 767px) {
 .center {
    padding-left: 16px;
    padding-right: 16px;
 } 
 
 .header {
   padding-top: 32px;
   max-width: 343px;

    &__input {
        display: none;
    }
 } 
 .menu {
    display: none;
 
    &__mob {
        display:flex;
        align-items: center;
        gap: 32px;
    }
    }
 .logo {
    &__img {
        width: 99px;
        font-family: Montserrat;
        
        
        font-size: 18px;
         font-weight: 600;
         line-height: 21.94px;
        text-align: left;
    }
  }
  .hed {
   font-size: 48px;
   line-height: 59px;
   text-align: center;
  }
  .cart__name-box {
   display: none;
  }
  .top {
   &__text {
      font-size: 16px;
      line-height: 32px;
      text-align: center;
   }

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
} 

  .link {
      font-size: 14px;
  }

   .heading {
   font-size: 24px;
   line-height: 29px;
   text-align: left;
   padding-bottom: 32px;
   padding-top: 32px;
   font-weight: 600;
   line-height: 29.26px;
   text-align: left;
   width: 342.91px;
   height: 58px;
  }
   .for {
   grid-template-columns: repeat(4, 1fr);
   gap: 16px;

   &__item {
      grid-column: 1 / -1;
      height: 375px;
      font-size: 28px;
      line-height: 34px;

      &__big {
         height: 244px ;
      }
   }
}
   
   .product__name {
      font-size: 18px;
      font-weight: 400;
      line-height: 21.94px;
      text-align: left;
  }

   .product__price {
      font-size: 18px;
      font-weight: 400;
      line-height: 21.94px;
      text-align: left;
   }
   
    .footer__content {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         gap: 34px;
        }
          
      .foot-two {
         gap: 100px;
         padding-bottom: 70px;
      }

      .foot__new {
         display: flex;
         flex: column;
         gap:8px;
         width: 260px;
         height: 111px;
      }
   
.foot__mob {
         padding-top: 64px;
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         gap: 69px;
}
.cart__head {
   font-family: Montserrat;
   font-size: 24px;
   font-weight: 600;
   line-height: 29.26px;
   text-align: left;
}
.heading-cart {
   font-size: 48px;
   font-weight: 600;
   line-height: 58.51px;
   text-align: left;
   width: 343px;
   height: 59px;
   color: #FFFFFF;
   }
   
.hed-catalog {
font-size: 48px;
font-weight: 600;
}
.cart {
   grid-template-rows: 1fr 1fr;

   &__form {
      grid-column: auto;
      padding: 20px;
   }
}
.part {
   flex-wrap: wrap;
}
#myDialog {
   max-width: 350px;
   max-height: 1000px;
   left: 15px;
}
.top-cart-background {
    height: 400px;
  }
.fp {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 10px;
}

.slink {
        padding-top: 16px;
  }
  #myDialog1 {
   display: none;
  }
  .cart__img {
   display: none;
}
.cart__item {
   width: 343px;
   height: 167px;
   top: 492px;
   left: 16px;
   border-top: 0.5px solid #cacdd8;
   padding-top: 25px;
   padding-bottom: 32px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.cart__product__name {
font-size: 18px;
font-weight: 500;
line-height: 21.94px;
text-align: left;
}
.cart__product__text {
   width: 253px;
   height: 45px;
   top: 540px;
   left: 16px;
   font-size: 12px;
   font-weight: 400;
   line-height: 14.63px;
   text-align: left;
   }
   .header__cart {
         height: 76px;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
          }

          .header {
            padding-top: 32px;
            width: 343px;
            height: 57px;
          }
         }
