@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "sans-serif";
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 76px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

a {
  text-decoration: none;
}

.logo {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}

.top {
  height: 735px;
  background-image: url(img/back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-catalog-background {
  background-image: url(img/lu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.top-cart-background {
  background-image: url(img/karz.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.header__input {
  width: 288px;
  height: 41px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
}

.header__input::-moz-placeholder {
  color: #ffffff;
}

.header__input::placeholder {
  color: #ffffff;
}

.hed-catalog {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  text-align: left;
  color: #ffffff;
  width: 270px;
  height: 70px;
  padding-top: 128px;
  padding-bottom: 26px;
}

.menu {
  display: flex;
  gap: 32px;
}

.menu__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.menu__mob {
  display: none;
}

.menu__link {
  color: #0075b2;
  text-decoration: none;
  color: #faf6f6;
  font-size: 16px;
  line-height: 20px;
}

.menu__link:hover {
  text-decoration: underline;
}

.hed {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #ffffff;
  text-align: left;
  padding-top: 64px;
  padding-bottom: 16px;
  max-width: 792px;
}

.top__text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.top__txt {
  padding-bottom: 16px;
}

.link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.travel__name:hover {
  color: #fff;
  background-color: #3498db;
  text-decoration: underline;
}

.new-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slink {
  padding-top: 64px;
  padding-bottom: 41px;
}

.katalog {
  height: 40px;
  color: #080808;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.pot {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #000;
}

.fp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 419px;
  padding-top: 61px;
  padding-bottom: 36px;
}

.treg-f {
  display: flex;
  outline: none;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  width: 182px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  background: white;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.treg-f:hover {
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  background-color: #0056b3;
  color: #FFFFFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.treg {
  position: relative;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(196, 196, 196);
  width: 182px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 23px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  transition: 0.4s;
  background-image: url(img/treg.svg);
  background-repeat: no-repeat;
  background-position: center right 22px;
  font-family: inherit;
  width: 227px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.treg:hover {
  background-color: #0056b3;
  color: #FFFFFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.for {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.for__item {
  height: 415px;
  grid-column: span 4;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  color: #f4f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background-image: url(img/fed1.jpg);
}

.for__item_2 {
  background-image: url(img/fed2.jpg);
}

.for__item_3 {
  background-image: url(img/fed3.jpg);
}

.for__item_4 {
  background-image: url(img/fed4.jpg);
}

.for__item_5 {
  background-image: url(img/fed5.jpg);
}

.product__box {
  margin-top: 64px;
}

.product {
  width: 378px;
  display: flex;
  flex-direction: column;
}

.product__name {
  margin-top: 10px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.product-content {
  display: flex;
  -moz-column-gap: 32px;
  column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
}

.product__box-prace {
  display: flex;
  gap: 32px;
}

.heading {
  font-family: Montserrat;
  font-style: normal;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  text-align: left;
  padding-bottom: 32px;
  padding-top: 64px;
}

.product__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.product__price {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 142px;
  line-height: 29px;
  text-align: left;
  color: #131212;
}

.cale {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-align: left;
  color: #a2a0a0;
}

.product__img {
  padding-bottom: 16px;
}

.product__img {
  width: 100%;
}

.katal {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600px;
  line-height: 59px;
  text-align: left;
  color: #000000;
  padding-bottom: 16px;
  padding-top: 32px;
}

.fut {
  display: flex;
  gap: 0px;
  border: 1px 0px 0px 0px;
  background: #f7f6f6;
  padding-top: 64px;
  padding-bottom: 58px;
}

.foot-two {
  display: flex;
  justify-content: space-between;
  gap: 129px;
}

.travel {
  padding-top: 32px;
  padding-bottom: 64px;
}

.footer__box {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-content {
  margin-top: 32px;
  display: flex;
  row-gap: 56px;
  flex-wrap: nowrap;
  -moz-column-gap: 52px;
  column-gap: 52px;
}

.prod__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prod-logo {
  width: 198px;
  height: 44px;
  padding-right: 83px;
}

.prod {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 260px;
  height: 111px;
  gap: 12px;
}

.prod__zag {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.88px;
  text-align: left;
}

.prod__kont {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.prod__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 136px;
  height: 150px;
}

.product__had {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  width: 198px;
  height: 44px;
}

.menu__big {
  font-family: Montserrat;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #131212;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu__lnk {
  text-decoration: none;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.menu__lnk:hover {
  text-decoration: underline;
}

.sp {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.adv {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgb(99, 96, 96);
}

.foot {
  background-color: #f7f6f6;
  padding-bottom: 58px;
}

.prod__box-price {
  display: flex;
  gap: 32px;
  background-color: #888888;
}

.foot__text {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 195px;
}

.foot__input {
  font: inherit;
  color: black;
  outline: none;
  border: 1px solid hsl(0, 4%, 90%);
  text-decoration: none;
  border-radius: 20px;
  border-color: #888888;
  font-family: Montserrat;
  width: 260px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #888888;
  padding-left: 25px;
  box-sizing: border-box;
  padding-right: 25px;
}

.foot__input::-moz-placeholder {
  color: #101010;
}

.foot__input::placeholder {
  color: #101010;
}

.foot__input:hover {
  font-size: 16px;
  color: #000;
}

.foot__input__input {
  width: 260px;
  height: 40px;
  border: 1px solid #C4C4C4;
  border-radius: 16px;
  color: #171717;
  text-align: left;
  padding-left: 17px;
  padding-right: 174px;
  padding-top: 12px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
}

.foot__input__input::-moz-placeholder {
  color: #C4C4C4;
}

.foot__input__input::placeholder {
  color: #C4C4C4;
}

.foot__input__input:hover {
  font-size: 16px;
  color: #000;
}

.foot__button {
  display: inline-block;
  outline: none;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
  width: 260px;
  height: 41px;
  font-family: Montserrat;
  font-size: 14px;
  background: rgba(222, 215, 215, 0.4117647059);
}

.foot__button__button {
  width: 260px;
  height: 40px;
  background: rgba(222, 215, 215, 0.4117647059);
  border-radius: 16px;
  border: 1px solid #C4C4C4;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
  background: #000000;
  box-sizing: border-box;
  padding-left: 85px;
  padding-right: 93px;
}

.foot__button {
  color: rgb(8, 8, 8);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.foot__button:hover {
  background-color: #0056b3;
  color: #FFFFFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cart__but {
  padding-top: 50px;
  margin: 64px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: center;
  color: #000;
}

.top-cart-background {
  background-image: url(img/karz.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}

.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.cart__item {
  border-top: 0.5px solid #cacdd8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 786px;
  height: 198px;
}

.cart__number {
  width: 7px;
  height: auto;
}

.cart__info {
  width: 276px;
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

.cart__header__in::-moz-placeholder {
  color: #ffffff;
}

.cart__header__in::placeholder {
  color: #ffffff;
}

.cart__but {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cart__but {
  background-color: #0056b3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cart__header__z {
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.cart__header__z:hover {
  transform: scale(1.2);
  background-color: #000;
  color: #cacdd8;
}

.cart__product__name {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  font-family: Montserrat;
  line-height: 29.26px;
  text-align: left;
  padding-bottom: 14px;
  color: #000;
}

.cart__cena {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 15px;
  width: 96px;
  height: 20px;
  color: #000;
}

.cart__img {
  width: 173px;
  height: 173px;
}

.cart__header__in {
  width: 200px;
  height: 37px;
  border: 1px solid #0e0e0e;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: #0e0d0d;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cart__header__in:hover {
  background-color: #000000;
  color: #FFFFFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cart__but {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  width: 200px;
  height: 37px;
  padding-top: 50px;
  margin-bottom: 64px;
  color: #000;
}

.cart__header__z {
  width: 290px;
  height: 41px;
  border-radius: 20px;
  border: 1px solid #0e0e0e;
  color: #000;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 18px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
}

.cart__form {
  border-radius: 20px;
  background: #f7f6f6;
  height: 556px;
  grid-column: span 4;
}

.cart__content {
  grid-column: span 8;
}

.cart__left {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
}

.cart__link-box {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.cart__izbr {
  width: 85px;
  height: 29px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 29.4px;
  text-align: center;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.cart__del {
  width: 60px;
  height: 29px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 29.4px;
  text-align: center;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.cart__form-font {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;
  text-align: center;
}

.cart__head {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 58.51px;
  text-align: left;
  width: 729px;
  padding-top: 64px;
  padding-bottom: 32px;
}

.travel__name {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.cart__one {
  width: 71px;
  height: 51px;
  border-radius: 6px;
}

.cart__product__text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  width: 276px;
  height: 50px;
  color: #888;
}

.cart__form-tog {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.2 6px;
  text-align: center;
}

.cart__oforml {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 42px;
}

.cart__form-box {
  display: flex;
  flex-direction: column;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 64px;
  gap: 44px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

* .cart__form-vvod {
  font-family: inherit;
  width: 100%;
  height: 17px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #cacdd8;
  background: inherit;
}

.cart__form-vvod::-moz-placeholder {
  color: #000;
}

.cart__form-vvod::placeholder {
  color: #000;
}

.cart__form-vvod:focus {
  outline: none;
}

.lin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.cart__input {
  width: 260px;
  height: 40px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 16px;
  color: #0e0d0d;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: center;
}

.cart__input:hover {
  font-size: 14px;
  color: #000;
}

filter-string__filter {
  display: flex;
  gap: 10px;
  width: 419px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  outline: none;
  border: 1px solid black;
  border-radius: 20px;
  width: 227px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  background: white;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
}

.option {
  display: flex;
  gap: 10px;
  margin-top: 61px;
}

.filter-string .sort--but {
  background-image: url(/img/Cursor.svg);
  background-repeat: no-repeat;
  background-position: 85%;
  cursor: pointer;
}

.option__filtr {
  box-sizing: border-box;
  padding: 10px 40px 10px 15px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  width: 182px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("img/select.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 12px;
}

.modal:target {
  display: block;
}

.modal {
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  background: rgb(255, 255, 255);
  z-index: 1;
}

.section {
  display: block;
  unicode-bidi: isolate;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.filter-string__filter {
  display: flex;
  gap: 10px;
  width: 419px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.filter-string .sort--but {
  background-image: url(/img/Cursor.svg);
  background-repeat: no-repeat;
  background-position: 85%;
  cursor: pointer;
}

#myDialog {
  max-width: 541.5px;
  min-height: 548px;
  padding: 40px 48px;
  border: none;
  top: 515px;
  left: 38%;
  right: 100px;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.label-style-radio {
  padding-left: 30px;
}

.srdos {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  width: 136px;
  height: 20px;
  color: #050505;
}

.room {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  width: 136px;
  height: 20px;
  color: #050505;
}

.sroki {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 32px;
  height: 141px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
}

.modal__content {
  width: 190.5px;
  height: 392px;
}

.modal__room {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 190px;
  height: 392px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  border-radius: 3px;
}

/* Поле формы фильтрации */
.filtering-form__fieldset {
  display: flex; /* Flex-контейнер */
  flex-direction: column; /* Выравнивание дочерних элементов по колонке */
  gap: 16px; /* Промежуток между элементами 16px */
  padding: 0; /* Без внутренних отступов */
  border: none; /* Без рамки */
}

/* Диапазон */
.range {
  display: flex; /* Flex-контейнер */
  flex-direction: column; /* Выравнивание дочерних элементов по колонке */
  gap: 14px; /* Промежуток между элементами 14px */
}

.range__input {
  width: 190px; /* Ширина 190px */
  height: 10px; /* Высота 10px */
  overflow: hidden; /* Скрывает все, что выходит за пределы элемента */
  outline: none; /* Без обводки */
}

.range__input,
.range__input::-webkit-slider-runnable-track,
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Убирает стандартный стиль элементов */
  background: none; /* Без фона */
}

.range__input::-webkit-slider-runnable-track {
  width: 200px; /* Ширина 200px */
  height: 1px; /* Высота 1px */
  background: #000; /* Черный фон */
}

.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none; /* Без фона */
}

.range__input::-webkit-slider-thumb {
  position: relative; /* Относительное позиционирование */
  height: 8px; /* Высота 8px */
  width: 8px; /* Ширина 8px */
  margin-top: -4px; /* Отрицательный верхний отступ для выравнивания по центру */
  background: #000; /* Черный фон */
  border: 1px solid #000; /* Черная рамка толщиной 1px */
  border-radius: 25px; /* Закругленные углы */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  z-index: 1; /* Уровень наложения 1 */
}

.range__input::-webkit-slider-thumb:active {
  cursor: grabbing; /* Курсор в виде руки, захватывающей элемент, при активном состоянии */
}

.range__input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2; /* Уровень наложения 2 */
}

.range__slider {
  font-family: sans-serif; /* Шрифт sans-serif */
  font-size: 14px; /* Размер шрифта 14px */
  position: relative; /* Относительное позиционирование */
  height: 20px; /* Высота 20px */
  width: 210px; /* Ширина 210px */
  display: inline-block; /* Встроенно-блочное отображение */
  margin-top: -5px; /* Отрицательный верхний отступ */
}

.range__slider input {
  position: absolute; /* Абсолютное позиционирование */
}

.range__label {
  font-size: 14px; /* Размер шрифта 14px */
}

.colr {
  width: 189px;
  height: 78px;
}

.part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 65px;
  width: 445.5px;
}

.prim {
  display: flex;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  width: 445.5px;
  height: 40px;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: auto;
}

.cn {
  border: none;
  padding-bottom: 32px;
}

.modal__button {
  width: 190px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid black;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.modal__button:hover {
  background-color: #000000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: #f3f0f0;
}

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.range::-webkit-slider-runnable-track {
  height: 1px;
  background: #000000;
}

.range::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #000000;
  border-radius: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 17px;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L7.5 0.5' stroke='black'/%3E%3C/svg%3E%0A"); /* Фоновое изображение галочки */
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000;
}

.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  /* Цвета чекбоксов */
}

.checkbox__label--white::before {
  background-color: #fff; /* Белый фон */
  border-color: #808080; /* Серая рамка */
}

.checkbox__label--black::before {
  background-color: #000; /* Черный фон */
  border-color: #000; /* Черная рамка */
}

.checkbox__label--gray::before {
  background-color: #737373; /* Серый фон */
  border-color: #737373; /* Серая рамка */
}

.checkbox__label--red::before {
  background-color: #f00; /* Красный фон */
  border-color: #f00; /* Красная рамка */
}

.checkbox__label--orange::before {
  background-color: #ff4500; /* Оранжевый фон */
  border-color: #ff4500; /* Оранжевая рамка */
}

.checkbox__label--yellow::before {
  background-color: #ff0; /* Желтый фон */
  border-color: #ff0; /* Желтая рамка */
}

.checkbox__label--green::before {
  background-color: #008000; /* Зеленый фон */
  border-color: #008000; /* Зеленая рамка */
}

.checkbox__label--teal::before {
  background-color: #40e0d0; /* Бирюзовый фон */
  border-color: #40e0d0; /* Бирюзовая рамка */
}

.checkbox__label--light-blue::before {
  background-color: #009fe3; /* Светло-синий фон */
  border-color: #009fe3; /* Светло-синяя рамка */
}

.checkbox__label--blue::before {
  background-color: #00f; /* Синий фон */
  border-color: #00f; /* Синяя рамка */
}

.checkbox__label--purple::before {
  background-color: #800080; /* Пурпурный фон */
  border-color: #800080; /* Пурпурная рамка */
}

.checkbox__label--violet::before {
  background-color: #8a2be2; /* Фиолетовый фон */
  border-color: #8a2be2; /* Фиолетовая рамка */
}

.checkbox__label--lavender::before {
  background-color: #d89aff; /* Лавандовый фон */
  border-color: #d89aff; /* Лавандовая рамка */
}

.checkbox__label--pink::before {
  background-color: #ff1493; /* Розовый фон */
  border-color: #ff1493; /* Розовая рамка */
}

.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
}

/* Опции цвета */
.color-options {
  display: flex; /* Flex-контейнер */
  flex-wrap: wrap; /* Перенос содержимого */
  max-width: 190px; /* Максимальная ширина 190px */
  gap: 14px; /* Промежуток между элементами 14px */
}

.color-options__checkbox {
  width: 15px; /* Ширина 15px */
  height: 15px; /* Высота 15px */
}

:is(header, body) a:hover {
  color: rgb(102, 0, 255);
  transition: color 0.3s ease, background-color 0.3s ease;
  color: #fff;
  text-decoration: underline;
}

.sp__icon:hover {
  color: inherit; /* Убираем изменение цвета */
  background-color: transparent; /* Убираем фоновый цвет */
  text-decoration: none; /* Убираем подчеркивание */
}

.icon {
  transition: filter 0.3s ease; /* Плавный переход */
}

.icon:hover path {
  fill: blue;
}

.top-cart-background {
  background-image: url(img/karz.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.heading-cart {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  text-align: left;
  margin-top: 127px;
  color: #ffffff;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}

.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.cart__item {
  border-top: 0.5px solid #cacdd8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 786px;
  height: 198px;
}

.cart__number {
  width: 7px;
  height: auto;
}

.cart__info {
  width: 276px;
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

.cart__header__in::-moz-placeholder {
  color: #ffffff;
}

.cart__header__in::placeholder {
  color: #ffffff;
}

.cart__product__name {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  font-family: Montserrat;
  line-height: 29.26px;
  text-align: left;
  padding-bottom: 14px;
  color: #000;
}

.cart__cena {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 15px;
  width: 96px;
  height: 20px;
  color: #000;
}

.cart__img {
  width: 173px;
  height: 173px;
}

.cart__header__in {
  width: 200px;
  height: 37px;
  border: 1px solid #0e0e0e;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: #0e0d0d;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: center;
}

.cart__but {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  width: 200px;
  height: 37px;
  padding-top: 50px;
  margin-bottom: 64px;
  color: #000;
}

.cart__header__z {
  width: 290px;
  height: 41px;
  border-radius: 20px;
  border: 1px solid #0e0e0e;
  color: #000;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 18px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
}

.cart__form {
  border-radius: 20px;
  background: #f7f6f6;
  height: 556px;
  grid-column: span 4;
  max-width: 343px;
  min-height: 556px;
}

.cart__content {
  grid-column: span 8;
}

.cart__left {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
}

.cart__link-box {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.cart__izbr {
  width: 85px;
  height: 29px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 29.4px;
  text-align: center;
  color: #000;
}

.cart__del {
  width: 60px;
  height: 29px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 29.4px;
  text-align: center;
  color: #000;
}

.cart__form-font {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;
  text-align: center;
}

.cart__head {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 58.51px;
  text-align: left;
  width: 729px;
  padding-top: 64px;
  padding-bottom: 32px;
}

.cart__travel__name {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

.cart__travel__name:hover {
  text-decoration: underline;
}

.cart__one {
  width: 71px;
  height: 51px;
  border-radius: 6px;
}

.cart__product__text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  width: 276px;
  height: 50px;
  color: #888;
}

.cart__form-tog {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.2 6px;
  text-align: center;
}

.cart__oforml {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 42px;
}

.cart__form-box {
  display: flex;
  flex-direction: column;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 64px;
  gap: 44px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.cart__input {
  width: 260px;
  height: 40px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 16px;
  outline: none;
  color: #0e0d0d;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: center;
}

.zak {
  font-family: Montserrat;
  font-size: 24px;
  padding-top: 42px;
  padding-bottom: 35px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: center;
}

.cart__form-vvod {
  font-family: inherit;
  width: 100%;
  height: 17px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #cacdd8;
  background: inherit;
}

.cart__form-vvod::-moz-placeholder {
  color: #000;
}

.cart__form-vvod::placeholder {
  color: #000;
}

.cart__form-vvod:focus {
  outline: none;
}

.radio {
  display: flex;
  align-items: center;
  line-height: 17px;
}

.radio__input {
  display: none;
}

.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}

.radio__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.radio__input:checked + .radio__label::before {
  border-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L7.5 0.5' stroke='black'/%3E%3C/svg%3E%0A"); /* Фоновое изображение галочки */
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-content {
    -moz-column-gap: 28px;
    column-gap: 28px;
    row-gap: 39px;
  }
  .footer__box {
    display: flex;
    justify-content: space-between;
  }
  .foot__new {
    padding-left: 50px;
    width: 260px;
    height: 111px;
  }
  .adv {
    margin-top: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000;
  }
  .product {
    width: 345px;
  }
}
@media (min-width: 320px) and (max-width: 960px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .prod__logo {
    display: none;
  }
  .heading {
    padding-top: 64px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .logo {
    /* Интерьер. */

margin: 0 auto;
width: 99px;
height: 22px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

  }
  .header__input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu__mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .logo__img {
    width: 99px;
  }
  .hed {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .top__text {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link {
    font-size: 14px;
  }
  .heading {
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    padding-bottom: 32px;
    padding-top: 32px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
    width: 342.91px;
    height: 58px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item__big {
    height: 244px;
  }
  .product__name {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;
  }
  .product__price {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;
  }
  .footer__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 34px;
  }
  .foot-two {
    gap: 100px;
    padding-bottom: 70px;
  }
  .foot__new {
    width: 260px;
    height: 111px;
  }
  .foot__mob {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 69px;
  }
  .cart-box {
    display: flex;
  }
} /*# sourceMappingURL=stl.css.map */